* {
    margin: 0;
    padding: 0;
}

/* font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Common CSS  */

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0 3rem;
}


/* Nave Bar  */

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

nav h2 {
    font-size: 2rem;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    list-style-type: none;
    gap: 2rem;
    font-size: 1rem;
    font-weight: bold;
}

/* Header section  */

header {
    margin: 3rem 0;
}

header h2 {
    font-size: 2.5rem;
    margin: 1rem 0;
}

header p {
    margin: 1rem 0;
}

header div {
    margin: 1rem 0;
    padding: 1rem 3rem;
    background-color: black;
    width: fit-content;
}

header div a {
    text-decoration: none;
    color: white;
}

/* Show Project  */

.project-show {
    display: grid;
    margin: 8rem 4rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.project-show div div {
    width: 100%;
    background-color: orange;
}

.row-1 {
    width: 100%;
    display: grid;
    grid-template-rows: 30rem 18rem 30rem;
    gap: 2rem;
}

.row-2 {
    width: 100%;
    display: grid;
    grid-template-rows: 18rem 30rem 18rem 14rem;
    gap: 2rem;
}

.row-3 {
    width: 100%;
    display: grid;
    grid-template-rows: 25rem 14rem 18rem 12rem 14rem;
    gap: 2rem;
}

footer {
    background-color: black;
    color: white;
    padding: 2rem;
}